---
layout: base.njk
title: Alterna Development Studio
---
<h1>Alterna Development Studio</h1>
<p>Making the world a better place one product at a time.</p>

<nav>
  <ul>
    <li><a href="/about/">About</a></li>
    <li><a href="/blog.njk">Blog</a></li>
    <li><a href="/projects.njk">Projects</a></li>
    <li><a href="/streams.njk">Stream Recaps</a></li>
  </ul>
</nav>
